<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title> 取引先管理システム 管理者ページ画面(M012)</title>

        <style>

        </style>

    </head>

    <body>
        <script>
            function confirmMsg(msg, btnId) {
                if(confirm(msg) == true) {
                    document.getElementById(btnId).value = "True";
                    document.getElementById("M011HiddenShainCd").value = "";
                }
                else { 
                    document.getElementById(btnId).value = "False";
                    document.getElementById("M011HiddenShainCd").value = document.getElementById("M011ShainCd").value;
                }
            }
        </script>
        <div style="text-align: center">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <li class="{{ category }}" style="color:red">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <h1 style="background-color:#48d1cc">取引先管理システム</h1>
            <h2 style="background-color:#48d1cc">M012 管理者ページ画面</h2>

            <form action="/back" method="POST">
                <button type="submit" id="M012BackBtn" name="M012BackBtn" value='False' onclick="confirmMsg('取引先管理画面に戻りますか？', 'M012BackBtn');">戻る</button>
            </form>
            <br>
        </div>
        <br>
            
        <div style="width: 400px; height : 200px; margin: 5px; padding: 40px; border: solid 1px #999999; margin: auto;, text-align: center">
            <div style="text-align: center">

                <form action="/createUserInfo" method="POST">
                    <label for="M012LabelShainCd">社員コード　　　：</label> &nbsp;
                    <input type="text" id="M012ShainCd" name="M012ShainCd" value="{{sessionShainCd}}">
                    <br>
                    <label for="M012LabelShainNm">社員名　　　　　：</label> &nbsp;
                    <input type="text" id="M012ShainNm" name="M012ShainNm" value="{{sessionShainNm}}">
                    <br>
                    <label for="labelPassword">パスワード　　　：</label> &nbsp;
                    <input type="text" id="M012Password" name="M012Password" value="">
                    <br>
                    <br>
                    <label for="M012LabelKengenFlg">権限　 ：</label> &nbsp;
                    <select name="M012KengenFlg" id="M012KengenFlg">
                        <option value="0">権限なし</option>
                        <option value="1">権限あり</option>
                    </select>
                    <br><br>

                    <button type="submit" id="M012InsertBtn" name="M012InsertBtn" value="False" onclick="confirmMsg('ユーザーを登録しますか', 'M012InsertBtn')">ユーザー登録</button>
                </form>

            </div>
        </div>

        <div style="text-align: center">
            <form action="/deleteUserInfo" method="POST">
                <button type="submit" id="M012DeleteBtn" name="M012DeleteBtn" value="False" onclick="confirmMsg('ユーザーを削除しますか？', 'M012DeleteBtn');">ユーザー削除</button>
                <input type="hidden" id="M12HiddenShainCd" name="M12HiddenShainCd" value={{M012ShainCd}}>
            </form>
        </div>
        
    </body>
</html>